*{
    margin: 0;
    padding: 0;
    background-color: white;
}

.images{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.image{
    display: none;
}

.image.active{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image>img{
    height: 100%;
    width: auto;
}

@media (orientation: portrait){
    .image>img{
        width: 100%;
        height: auto;
    }
}

.button{
    top: calc(50% - 80px);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgba(50, 50, 50, .5);
    position: fixed;
    transition: background-color .1s;
    display: grid;
    place-content: center;
    cursor: pointer;
    user-select: none;
}

.button>span{
    background-color: transparent;
    color: white;
    font-size: 30px;
}

.button.active{
    background-color: white;
}

.lastButton{
    left: 10px;
    transform: rotate(180deg);
}

.nextButton{
    right: 10px;
}